@charset "UTF-8";

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    height: 130px;
    text-align: center;
    padding-top: 30px;
}

header > h1 {
    color: white;
    font-weight: normal;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.39);
}

header > p {
    color: white;
    max-width: 500px;
    font-size: 1.2em;
    margin: auto;
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.315);
}

nav > a {
    color: var(--cor1);
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    border-radius: 2px;
    transition-duration: .5s;
}

nav > a:hover {
    background-color: var(--cor1);
    color: var(--cor4);
}